html {
  color: rgb(8, 8, 8)
}


body {
  background-color: #e79947;
  margin: 0;
}


 h1 {
  font-size: 60px;
  text-align: center;
  color: #ffffff;
}

  nav.mainMenu {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px auto;
  width: 750px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

p {
  font-size: 15px;
  font-family: Arial, sans-serif;
  padding: 10px;
  line-height: 22px;
  margin: 0;
  color : #333
}


/* banner classına sahip elemanların kenarlarını 10px yuvarlatın ve genişliğini 750px yapın */
.banner {
  border-radius: 10px;
  width: 750px;
}

ul.contact-info {
  margin: 0 10px;
  line-height: 24px;
}


.container {
  width: 750px;
  margin: 60px auto 30px;
  background-color: white;
  padding: 50px;
}
section {
  margin-bottom: 30px;;
}

